<?xml version="1.0" encoding="UTF-8"?>
<!-- IIS ignores .htaccess: this is what actually stops uploaded files from being run as PHP/HTML scripts.
     Only plain image files can be requested from this folder. -->
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read" />
        <security>
            <requestFiltering>
                <fileExtensions allowUnlisted="false">
                    <add fileExtension=".jpg" allowed="true" />
                    <add fileExtension=".jpeg" allowed="true" />
                    <add fileExtension=".png" allowed="true" />
                    <add fileExtension=".webp" allowed="true" />
                    <add fileExtension=".gif" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
